body {
    font-family: 'B Nazanin', sans-serif;
    background: linear-gradient(270deg, #ffcc00, #ff6699, #ffcc00, #ff6699);
    background-size: 800% 800%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 500px;
    text-align: right;
    direction: rtl;
    position: relative;
}

.center-text {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffcc00;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #e6b800;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: right;
}

textarea {
    resize: vertical;
    height: 100px;
}

.about-link {
    text-align: center;
    margin-top: 20px;
}

.about-link a {
    color: #ff6699;
    text-decoration: none;
}

.about-link a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-time {
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    background-color: #ffe4e1;
    border-radius: 5px;
}
